* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

:root {
    --shade1: rgba(0,0,0,.3);
    --shade2: rgba(0,0,0,.4);
    --shade3: rgba(0,0,0,.8);
}

body {
    min-height: 100svh;
    color: #eee;
    background-color: black;
}

header {
    box-shadow: 0 5px 20px var(--shade3);
    background: var(--shade3);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    z-index: 100;
    & .logo {
        font-size: 30px;
        & a {
            text-decoration: none;
            color: #eee;
        }
    }
    & .login-BtnPopup {
        padding: 8px 35px;
        font-weight: 600;
        border: 2px solid #eee;
        background: transparent;
        border-radius: 4px;
        color: #eee;
        transition: .25s;
        cursor: pointer;
        &:hover {
            background-color: #eee;
            color: black;
        }
    }
}

.showcase {
    min-height: 70svh;
    overflow: hidden;
    position: relative;
    &::after {
        content: '';
        height: 100%;
        width: 100%;
        background: linear-gradient(to top, black 100px, transparent 300px);
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
    }
    & .pic1 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        z-index: -1;
    }
}

.section1 {
    overflow: hidden;
    height: 30svh;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    margin-bottom: 20px;
    & h3 {
        font-size: 40px;
        color: #fff;
        text-shadow: 5px 3px 6px black;
    }
    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        max-width: 270px;
        box-shadow: 6px 6px 2px -1px #ccc;
        border: 2px solid grey;
        border-radius: 5px;
    }
}

.btn-section {
    display: flex;
    justify-content: center;
    gap: 10px;
    & a, button {
        color: #eee;
        font-size: 23px;
        font-weight: 600;
        padding: 10px 55px;
        border-radius: 5px;
        border: none;
        text-decoration: none;
        cursor: pointer;
    }
    & .readF {
        background-color: green;
    }
    & .readL {
        background-color: goldenrod;
        color: black;
    }
}

.content {
    position: relative;
    font-size: 15px;
    text-align: center;
    bottom: 0;
    padding: 5px;
    margin-top: 10px;
}

.chapters {
    & h3 {
        border-bottom: 2px solid goldenrod;
        padding: 5px 20px;
        margin-bottom: 10px;
    }
    & .list {
        min-height: 70svh;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column-reverse;
        padding: 5px;
        gap: 5px;
        padding-right: 10px;
        & a {
            background: red;
            height: 30px;
            width: 100%;
            display: flex;
            justify-content: start;
            align-items: center;
            padding-left: 20px;
            text-decoration: none;
            font-weight: 600;
            color: #eee;
            background-color: rgb(20,20,20);
            border-radius: 4px;
        }
    }
}

footer {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 50px;
}
